<h2>Оформление заказа</h2>
<h3>
    Корзина 
    <button ng-click="emptyTrash()">Очистить корзину</button>
</h3>
<table border="1">
    <tr>
        <th ng-repeat="title in orderItemsTitles">
            {{title}}
        </th>
    </tr>
    <tr ng-repeat="o in orderItems">
        <td style="text-align: center">{{o.id}}</td>
        <td>{{o.name}}</td>
        <td style="text-align: right">{{o.price | currency}}</td>
        <td style="text-align: right">{{o.count}}</td>
        <td style="text-align: right">{{o.price * o.count | currency}}</td>
        <td>
            <button ng-click="updateTrash('+', o.id, o.title, o.price)" 
                    style="margin:0 auto; display:block;padding: 0px 10px;">
            +
            </button>
        </td>
        <td>
            <button ng-click="updateTrash('-', o.id, o.title, o.price)" 
                    style="margin:0 auto; display:block;padding: 0px 10px;">
            -
            </button>
        </td>
    </tr>
    <tr>
        <th colspan="4">Итого:</th>
        <th style="text-align: right">{{orderItemsSum | currency}}</th>
        <th colspan="2"></th>
    </tr>
</table>
<br />
<button ng-click="makeOrder()">Оформить заказ</button>
<div>
    <br />
    <label ng-class="{'label-error': errorStatus, 'label-success': !errorStatus}" ng-bind="orderStatus"></label>
</div>