<h2>Каталог товаров</h2>
<table border="1">
    <tr>
        <th ng-repeat="title in productTitles">
            {{title}}
        </th>
    </tr>
    <tr ng-repeat="p in products">
        <td style="text-align: center">{{p.Id}}</td>
        <td>{{p.title}}</td>
        <td style="text-align: right">{{p.price | currency}}</td>
        <td>
            <button ng-click="addToTrash(p.Id, p.title, p.price)" style="width:200px; text-align:left;" >
                Заказать товар "{{p.title}}"
            </button>
        </td>
    </tr>
</table>
<br/>
<a href="#!order">Перейти к оформлению заказа</a>